<div
  appCourseborder
  [creationDate]="course.creationDate"
  [ngClass]="course.topRated ? 'courseitem-topratedbg' : ''"
  class="courseitem-container">
  <section class="courseitem-top">
    <h2 class="courseitem-top_title">
      {{ course.title | titlecase }}
      <app-logo
        *ngIf="course.topRated"
        iconName="faStar"
        [ngStyle]="{ 'color': 'orange', 'margin-left': '10px' }"></app-logo>
    </h2>
    <div class="courseitem-top-datetime">
      <span class="courseitem-top-datetime_section">
        <app-logo iconName="faClock"></app-logo>
        <p class="courseitem-top-datetime_text">
          {{ course.duration | duration }}
        </p>
      </span>
      <span class="courseitem-top-datetime_section">
        <app-logo iconName="faCalendar"></app-logo>
        <p class="courseitem-top-datetime_text">
          {{ course.creationDate | date: "dd MMM, yyyy" }}
        </p>
      </span>
    </div>
  </section>
  <section class="courseitem-bottom">
    <p class="courseitem-bottom-text">{{ course.description }}</p>
    <div class="courseitem-bottom-buttons">
      <app-button
        btnStyle="courseitem-bottom-buttons_button"
        text="Edit"
        iconName="faPen"
        (click)="onEdit(course)"></app-button>
      <app-button
        btnStyle="courseitem-bottom-buttons_button"
        text="Delete"
        iconName="faTrash"
        (click)="onDelete(course)"></app-button>
    </div>
  </section>
</div>
