<div *ngIf="isAuthenticated$ | async" class="breadcrumbs-container">
  <div
    class="breadcrumb-linkcontainer"
    *ngFor="let breadcrumb of breadcrumbs; let index = index">
    <p class="breadcrumb-link_separator" *ngIf="index > 0">/</p>
    <a
      class="breadcrumb-link"
      [ngClass]="
        index === breadcrumbs.length - 1 ? 'breadcrumb-link_focus' : ''
      "
      (click)="handleClick(breadcrumb.path)"
      >{{ breadcrumb.name | titlecase }}</a
    >
  </div>
</div>
<div
  *ngIf="(isAuthenticated$ | async) === false"
  class="breadcrumbs-hidden"></div>
