.footer-container {
  background: #303240;
  height: 6vh;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
}

.footer-text {
  line-height: 24px;
  letter-spacing: 0;
  color: #ffffff;
  font-size: 12px;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
}
