<div
  *ngFor="let course of courses | orderBy: 'creationDate'; trackBy: identify"
  class="courselist-container">
  <app-course-item
    [course]="course"
    (onDeleteCourse)="deleteCourse(course)"
    (onEditCourse)="editCourse(course.id)"></app-course-item>
</div>
<div *ngIf="showLoadMore" class="courselist-itemcontainer">
  <a class="courselist-itemcontainer_loadmoretext" (click)="loadMoreCourses()"
    >load more</a
  >
</div>
<div *ngIf="courses.length === 0" class="courselist-itemcontainer">
  <a class="courselist-itemcontainer_addcoursetext"
    >NO DATA. FEEL FREE TO ADD NEW COURSE</a
  >
</div>
